@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Passion+One:wght@400;700;900&display=swap');

:root {
    --cor01: #F3FEB0;
    --cor02: #FEA443;
    --cor03: #705E78;
    --cor04: #A5AAA3;
    --cor05: #812F33;

    --font01: Verdana, Geneva, Tahoma, sans-serif;
    --font02: 'Passion One', cursive;
    --font03: 'Indie Flower', cursive;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    background-color: var(--cor04);
    font-family: var(--font01);
    min-height: 100vh;
}

header {
    background-color: var(--cor05);
    color: white;
    text-align: center;
}

header > h1 {
    font-family: var(--font02);
    font-size: 6rem;
    font-variant: small-caps;
    padding-top: 50px;
}

header > p{
    padding-bottom: 50px;
}

a {
    color: white;
    font-weight: bolder;
}

header a:hover, 
footer .criador a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font03);
    font-size: 2rem;
    line-height: 4rem;
    padding: 10vh 0 10vh 10vw;
}

section > p{
    padding-bottom: 2rem;
}

section.normal {
    background-color: var(--cor01);
    color: black
}

section.imagem {
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.42);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem#img01 {
    background-image: url('../images/background001.jpg');
    background-position: right center;
}

section.imagem#img02 {
    background-image: url('../images/background002.jpg');
}

section.imagem > p {
    background-color: rgba(112, 94, 120, 0.45);
    display: inline-block;
    padding: 1rem;
    text-shadow: 1.2px 1.2px 0px black;
}

footer {
    color: black;
    text-align: center;
    font-size: 1.2em;
    padding: 3rem;
}

footer .social {
    padding-top: 2rem;
}

footer .social a:hover {
    transform: translateY(-0.8rem);
}

footer .social a {
    transition-duration: 0.5s;
    display: inline-block;
}

footer .social a i {
    font-size: 2rem;
    padding: 0.2em;
    color: black;
}

@media screen and (max-width: 700px){
    header h1 {
        font-size: 4.5rem;
    }

    header p {
        font-size: 1rem;
    }

    section {
        font-size: 1.5rem;
    }

    footer {
        font-size: 0.9rem;
        padding: 4vw 2.7rem 4vw 2.7rem;
    }

    footer .social a i {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 530px){
    header h1 {
        font-size: 3.5rem;
    }

    header p {
        font-size: 0.8rem;
    }

    section {
        font-size: 1.2rem;
        line-height: 3.2rem;
    }

    footer {
        font-size: 0.8rem;
        padding-left: 4vw;
        padding-right: 4vw;
        padding: 4vw 2.4rem 4vw 2.4rem;
    }

    footer .social {
        padding-top: 1.5rem;
    }

    footer .social a i {
        font-size: 1.4rem;
        
    }
}

@media screen and (max-width: 300px){
    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 0.6rem;
    }

    section {
        font-size: 1rem;
        font-weight: bold;
        line-height: 2.4rem;
    }

    footer {
        font-size: 0.6rem;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    footer .social {
        padding-top: 1rem;
    }

    footer .social a i {
        font-size: 1rem;
    }
}
